@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.default-size {
  margin-left: 12rem;
  margin-right: 12rem;
}

.row {
  overflow-x: hidden; /* Remove o overflow horizontal */
  overflow-y: hidden; /* Remove o overflow horizontal */
  /* Remove o overflow horizontal */
}

.logo {
  margin-top: 0.7rem;
  transition: 0.3s;
}

.logo:hover {
  transform: rotate(35deg);
  cursor: pointer;
}

/*--bs-table-bg é usado para mudar o background de uma linha inteira
    background color em tabelas é usado para mudar a cor de uma célula*/

.table thead tr {
  --bs-table-bg: #3acc97;
}

.table tbody tr {
  --bs-table-bg: whitesmoke;
}

.table tbody tr:hover {
  --bs-table-bg: lightgray;
}

@media (max-width: 971px) {
  .recycle {
    height: 27rem;
    width: 23rem;
  }
}

@media (max-width: 911px) {
  .logo {
    display: none;
    margin-top: 0;
  }
}

/* Modal de consultar denuncia */

form>div>input{
  height: 50px;
  
}

form>div{
 padding: 5px;
  
}

/* Botão Modal */

.btn-salvar{
  width: 100%;
  --bs-btn-bg: #3ACC97;
  --bs-btn-hover-bg: #2dac7d;
  --bs-btn-border-color: none;
  --bs-btn-hover-border-color: none;
  height: 50px;

}

.btn-salvar-red{
  width: 100%;
  --bs-btn-bg: #FE4A49;
  --bs-btn-hover-bg: #df4242;
  --bs-btn-border-color: none;
  --bs-btn-hover-border-color: none;
  height: 50px;

}

/* Botão lista */

.btn-consultar{
  width: 200px;
  --bs-btn-bg: #3ACC97;
  --bs-btn-hover-bg: #2dac7d;
  --bs-btn-border-color: none;
  --bs-btn-hover-border-color: none;
  height: 32px;
}


.btn-salvar:hover, .btn-consultar:hover{
  --bs-btn-bg: #2fa87c;
}


/* Modal de notificação */

.notificacao-pop-up-dropdown{
  width: 18.75rem; /* 300px em rem */
  height: 21.875rem; /* 350px em rem */
  padding: 1.25rem; /* 20px em rem */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
  position: absolute;
  right: 9.75rem; /* 140px em rem */
  top: 4.375rem; /* 70px em rem */
  background-color: #f1f1f1;
  min-width: 10rem; /* 160px em rem */
  z-index: 1;
  border-radius: 15px;
}
.notificacao-pop-up-dropdown-header{
  display: flex;
  justify-content: space-between;
}

.notificacao-pop-up-dropdown-list{
  list-style-type: none;
  padding: 0;
}
.notificacao-pop-up-dropdown-list li{
  border-bottom: 1px solid rgba(128, 128, 128, 0.349);
  margin-top: 4px;
}
