@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.h2-informativa {
    font-weight: bold;
    font-size: 60px;
}

.h3-informativa {
    font-weight: bold;
}

.p-informativa {
    font-size: 20px;
}

.a-informativa, .a-informativa:hover {
    color: black;
    font-weight: 600;
}

.default-size {
    margin-left: 12rem;
    margin-right: 12rem;
}

.custom-bg{
    background-color: #3ACC97;
    width: 100%;
    height: 560px;
}

.custom-card {
    width: 25rem;
    height: 12.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.custom-card img {
    width: 71px;
    height: 71px;
}

.row {
    overflow-x: hidden; /* Remove o overflow horizontal */
    overflow-y: hidden; /* Remove o overflow horizontal */
 /* Remove o overflow horizontal */
}

.logo{
    margin-top: 0.7rem;
    transition: 0.3s;
}

.logo:hover{
    transform: rotate(35deg);
    cursor: pointer;
}

.photoFrame{
   width: 370px;
   height: 370px;
   padding: 20px;
}

.photoFrame img{
    width: 256px;
    height: 256px;
    border: 3px solid #3ACC97;
    border-radius: 300px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

div.custom-card {
    height: auto;
}

@media(max-width: 971px){
    .recycle{
        height: 27rem;
        width: 23rem;
    }
}


@media(max-width: 911px) {
.logo{
        display: none;
        margin-top: 0;
    }  
}

/* Modal de notificação */

.notificacao-pop-up-dropdown{
    width: 18.75rem; /* 300px em rem */
    height: 21.875rem; /* 350px em rem */
    padding: 1.25rem; /* 20px em rem */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    position: absolute;
    right: 9.75rem; /* 140px em rem */
    top: 4.375rem; /* 70px em rem */
    background-color: #f1f1f1;
    min-width: 10rem; /* 160px em rem */
    z-index: 1;
    border-radius: 15px;
  }
  .notificacao-pop-up-dropdown-header{
    display: flex;
    justify-content: space-between;
  }
  
  .notificacao-pop-up-dropdown-list{
    list-style-type: none;
    padding: 0;
  }
  .notificacao-pop-up-dropdown-list li{
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    margin-top: 4px;
  }
  
  #notificacoes{
      display: none;
  }
  
  #usuarioLogado{
      display: none;
  }