/PRJ05 Trash Track/TrashTrack/build/
/PRJ04 RoçaPlan/Codigos/RocaPlan/nbproject/private/
/PRJ04 RoçaPlan/Codigos/RocaPlan/build/
/PRJ04 RoçaPlan/Codigos/RocaPlan/dist/
/PRJ05 Trash Track/TrashTrack/nbproject/private
