.slogan-container {
    background-color: #28282869; /* Fundo preto semi-transparente */
    backdrop-filter: blur(5px); /* Efeito de blur */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 2rem; /* Espaçamento interno */
}

.custom-section {
    background-color: #e0e0e0;
}

.card {
    background-color: #e0e0e0;
}

.list-group-item {
    background-color: #e0e0e0;
    border-color: #9c9c9c;
}

/*
#282828
#525358
#0e9594
#07beb8
#e0e0e0
*/