* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    background-color: #F5F7FA;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 270px;
    height: 650px;
    background-color: #2e2d2d;
    color: white;
    transition: width 0.3s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar.closed {
    width: 60px;
}

/* Sidebar Header with Favicon */
.sidebar-header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 0px;
    background-color: #2e2d2d;
}

/* Sidebar Menu */
.sidebar a {
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar a i {
    margin-right: 10px;
    font-size: 20px;
}

.sidebar a span {
    transition: opacity 0.3s;
}

.sidebar.closed a span {
    opacity: 0;
}

.sidebar a:hover {
    background-color: #ffc800;
}

.toggle-btn {
    background-color: #2e2d2d;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

.sidebar.closed a i {
    margin-right: 0;
}

.sidebar.closed a span {
    display: none;
}

/* Centralizing the menu items */
.menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

/* Main content */
.main-content {
    flex-grow: 1;
    padding: 15px; /*Distancia do Topo*/
    background-color: #F5F7FA;
    overflow-x: hidden;
    transition: margin-left 0.3s;
}

/* Top bar */
.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffc800;
    padding: 10px; /* Largura da barra*/
    color: white;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile span {
    margin-right: 480px;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ffc800;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding-right: 30px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Minha Agenda */

.minha-agenda {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.agenda {
    width: 50%;
}

.agenda h1 {
    margin-bottom: 20px;
    color: #333;
}

.service {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.service p{
    margin-bottom: 10px;
}

.complete-btn {
    background-color: #ffc800;
    border: none;
    color: white;
    padding: 10px 20px; /*Largura e Altura do botão  */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
    margin-left: 330px;
}

.complete-btn.completed {
    background-color: red;
}

.calendar-section {
    width: 45%;
}

.calendar-section iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

/* Estilo do Rodapé */
footer {
    background-color: #2e2d2d;
    color: #fff;
    padding: 10px 0px; /* Tamanho da largura do Footer */
    
    position:static ;
    margin-top: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
  }
  
  .footer-left {
    text-align: left;
    padding-top: 18px;
  }
  
  .footer-center {
    text-align: center;
    padding-top: 5px;
  }
  
  .footer-right {
    text-align: right;
    padding-top: 18px;
  }
  
  /* Estilo dos links no rodapé */
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Estilo dos ícones sociais */
  .social-icons {
    display: inline-block;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffc800;
    line-height: 40px;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #ffffff;
  }
  
  /* Ícones Font Awesome */
  .social-icons i {
    vertical-align: middle;
  }
