body {
  margin: 0;
  padding: 0;
  background-color: #282828;
}

a {
  text-decoration: none;
}

span {
  font-size: 25px;
}

.navbar {
  background-color: #0e9594;
}

.offcanvas {
  background-color: #282828 !important;
}

.custom-margin {
  margin-left: 15cap;
}
