body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #232625;
  color: #CACACF;
}

header {
  background-color: #35403A;
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  z-index: 1000;
  position: relative;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 15px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #BFBFB8;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #35403A;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 1000;
}

.sidebar.active {
  transform: translateX(-250px);
}

.sidebar-menu {
  flex: 1;
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  color: #BFBFB8;
  text-decoration: none;
  font-size: 16px;
}

.sidebar-menu a:hover {
  color: #A4A6A6;
}

.social-icons {
  display: flex;
  margin-top: 470px;
  justify-content: center;
}

.social-icon {
  margin: 15px 15px;
}

.social-icon svg {
  width: 32px;
  height: 32px;
  fill: #A4A69C;
  transition: fill 0.3s;
}

.social-icon:hover svg {
  fill: #BFBFB8;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  right: -40px;
  background-color: #4C594F;
  color: #CACACF;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.menu-toggle-btn {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #4C594F;
  color: #CACACF;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.menu-toggle-btn.active {
  display: block;
}

main {
  margin-left: 250px; /* Ajuste para acomodar o menu lateral */
  padding: 20px;
  box-sizing: border-box;
}

.map-container {
  position: relative;
  width: calc(100% - 270px); /* Ajuste para o comprimento do mapa */
  margin-left: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  background-color: #232625;
  color: #CACACF;
}

.search-bar:focus {
  outline: none;
  border: 1px solid #A4A6A6;
}

.events-container {
  margin-top: 20px;
}

.events {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.event-card {
  background-color: #35403A;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  text-align: center;
  border: 1px solid #A4A6A6;
  margin: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.event-card h3, .event-card p {
  color: #CACACF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.event-card p {
  margin: 10px 0;
}

.event-card:hover {
  background-color: #4C594F;
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: inherit;
}

.event-image {
  width: 95%;
  height: 200px; /* Tamanho padronizado */
  object-fit: cover; /* Mantém a proporção da imagem */
  border-radius: 10px; /* Borda levemente arredondada */
  margin-bottom: 10px;
}