body {
  margin: 0;
  padding: 0;
  background-color: #282828;
  overflow: hidden;
}

a {
  text-decoration: none;
}

span {
  font-size: 25px;
}

.navbar {
  background-color: #0e9594;
}

.custom-form-container {
  background-color: #e0e0e0;
  border-radius: 30px;
  box-shadow: 1px 1px 20px 0px #000000d2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 600px; /* Largura máxima desejada */
  margin-top: 6%;
}

/* Estilos responsivos */
@media (max-width: 992px) {
  .custom-form-container {
      width: 60%; /* Largura para telas menores */
  }
}

@media (min-width: 993px) {
  .custom-form-container {
      width: 50%; /* Largura para telas maiores */
  }
}

.custom-link {
  cursor: pointer;
}

/*
#282828
#525358
#0e9594
#07beb8
#e0e0e0
*/
